<div class="w-100 position-relative container-login">
  <div class="content w-100 h-100 position-relative bg-dark">
    <form [formGroup]="loginForm" (submit)="enviar()"
          class="position-relative bg-white m-auto py-4 px-3 shadow-sm rounded-3">
      <div class="border-bottom border-light-subtle pb-3 mb-3">
        <h1 class="h3 text-center mb-0">Login</h1>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Usuario</label>
        <input
          formControlName="username"
          class="form-control"
          [ngClass]="{
          'is-invalid': loginForm.get('username')?.touched && loginForm.get('username')?.invalid,
          'is-valid': loginForm.get('username')?.touched && loginForm.get('username')?.valid,
          }"
          type="text" id="username" placeholder="Usuario">
        <div class="invalid-feedback" *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
          El usuario es obligatorio
        </div>
      </div>
      <div class="mb-3">
        <label for="passsword">Contraseña</label>
        <div class="position-relative show-password">
          <i (click)="togglePassword()"
             class="bi bi-eye-slash position-absolute d-flex align-items-center justify-content-center px-3"
             [ngClass]="changeType ? 'bi-eye-fill' : 'bi-eye-slash-fill' "
          ></i>
          <input
            class="form-control"
            formControlName="password"
            [ngClass]="{
            'is-invalid': loginForm.get('password')?.touched && loginForm.get('password')?.invalid,
            'is-valid': loginForm.get('password')?.touched && loginForm.get('password')?.valid,
            }"
            type="{{changeType ? 'text' : 'password'}}"
            id="passsword" placeholder="******">
          <div class="invalid-feedback"
               *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
            La contraseña es obligatoria
          </div>
        </div>
      </div>
      <div class="text-end mb-5">
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar Sesión</button>
      </div>
      <div class="border-top border-light-subtle pt-3">
        <button type="button" class="btn btn-outline-dark w-100" routerLink="/register">Registrarse</button>
      </div>
    </form>
  </div>
</div>
