<div class="container position-relative px-3 pt-3 mb-5">

  <h2 class="h4 text-center mb-3 border-bottom border-light-subtle pb-3">Series de Marvel</h2>


  <div class="row justify-content-around align-items-center row-gap-3" *ngIf="seriesMarvel.length > 0">

    <div class="col-12 shadow-sm rounded-3 py-3 px-3 position-relative row text-center" *ngFor="let series of seriesMarvel">
      <div class="col-7">
        <p> {{ series.title }}</p>
        <p> {{ series.description }}</p>
        <p *ngIf="series.endYear">Finalizó: {{ series?.endYear }}</p>
        <button type="button" class="btn btn-primary" (click)="addFavorito(series.id)">
          <i class="bi bi-star-fill"></i>
        </button>
      </div>
      <div class="col-5 d-flex align-items-center justify-content-center overflow-hidden">
        <img class="rounded-3 " src="{{series.thumbnail.path + '.' + series.thumbnail.extension}}"
             alt=" {{series.title}} ">
      </div>
    </div>

  </div>

  <p class="" *ngIf="seriesMarvel.length <= 0">
    No se han encontrado datos
  </p>

</div>
