.container-register {
  height: 100dvh;

  .content {
    overflow: auto;
    padding: 150px 0 120px;

    form {
      width: 95%;
      max-width: 500px;

      .show-password {
        i {
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }
  }
}
